@import "./sanitize.css";
@import "./forms.css";
@import "./typography.css";

//  COLORS   //
$black: #212121;
$white: #f9f9f9;
$accent: #ff5858;
$secondaryWhite: #e8e8e8;
$secondaryBlack: #656565;

//  FONTS   //
$baseFont: 1.2em/1.5 "Montserrat", sans-serif;
$headerFont: 4.5em/1.5 bold "Open Sans", sans-serif;

html {
  height: 100%;
  overflow-y: auto;
}

body {
  background-color: $white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  width: 100%;
}
